<div class="container bg-gradient-primary">
    <div class="row">
        <div class="col-6">
            <img src="https://www.icscomputer.it/media/editor_files/fatturazione-elettronica.png" style="width: 100%">
        </div>

        <div class="col-6 float-right">
            <h1>Il Gestionale per i tuoi clienti al centro</h1>
            <P>Entra nel fututo della gestione fatture online.<br>
                Trasforma i dati in insights e crea esperienze di navigazione smart,<br>
                per archiviare e gestire le fatture dei tuoi clienti.<br>
                Entra nel futuro della marketing automation e aumenta le conversioni online utilizzando tecnologie avanzate per aggregare i dati, 
                segmentare il tuo audience e aumentare l’engagement con i tuoi clienti!
                
            </P>
        </div>
    </div>

</div>